.title{
  background-color: darkblue;
  text-align: center;
  padding: 1.75;
  border:  solid 2px black;
}

h1{
 color: white;
}

main{
  display: flex;


}
.left-column{
  width: 65vw;
  padding: 0 3rem;
  margin: 1rem 3rem;
}
.right-column{
  width: 35vw;
}

img{
  max-width: 15vw;
  margin-top: 5vw;
}

.thefoot{
  background-color: darkblue;
  height: 10vw;
  border: solid 2px black;
  
}

body{
  margin: 0;
}
.bar{
  background-color: lightblue; 
  height: 20px;
  

  

}
